<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Security Rule" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" pattern="WEB-INF" ignoreCase="true" />
					</conditions>
					<action type="CustomResponse" url="index.cfm" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm?__easypath=/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
