<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="BonCode-Tomcat-CFM-Handler" />
            <add name="BonCode-Tomcat-CFM-Handler" path="*" verb="*" type="BonCodeIIS.BonCodeCallHandler,BonCodeIIS,Version=1.0.0.0,Culture=neutral,PublicKeyToken=ad590a40d40745cf" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
        <rewrite>
            <rules>
                <remove name="RewriteUserFriendlyURL1" />
                <remove name="Security Rule" />
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
