<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="BonCode-Tomcat-CFM-Handler" />
        </handlers>
        <rewrite>
            <rules>
                <remove name="RewriteUserFriendlyURL1" />
                <remove name="Security Rule" />
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
